<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <select id="getUserUsingId" resultType="wooyoung.blog.dto.User" parameterType="String">
        SELECT
            user_id as username,
            user_pw as password,
            isaccountnonexpired,
            isaccountnonlocked,
            iscredentialsnonexpired,
            isenabled
        FROM blog.user
        WHERE user_id = #{id};
    </select>
</mapper>